<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.0</feature>
        <feature>mpFaultTolerance-4.0</feature>
        <feature>mpHealth-4.0</feature>
        <feature>mpMetrics-5.0</feature>
        <feature>mpConfig-3.0</feature>
        <feature>mpRestClient-3.0</feature>
        <feature>mpContextPropagation-1.3</feature>
    </featureManager>

    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin" />
    </basicRegistry>
    <!-- <mpMetrics authentication="false"/>-->

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="8082"/>

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="/app-singer-instrument" location="app-singer-instrument.war" />
    <cors domain="/app-singer-instrument"
          allowedOrigins="*"
          allowedMethods="GET, DELETE, POST, PUT"
          allowedHeaders="origin, content-type, accept, authorization, cache-control"
          maxAge="3600" />
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <library id="PostgreSQLLib">
        <fileset dir="C:/HardDisk/Biblioteca/Workspaces/InteliJ/app-singer-instrument/src/main/resources/libs" includes="postgresql-42.6.0.jar"/>
    </library>

    <dataSource jndiName="jdbc/pgDataSource" transactional="true">
        <jdbcDriver libraryRef="PostgreSQLLib" javax.sql.DataSource="org.postgresql.ds.PGSimpleDataSource" />
        <properties user="inamjean" password="0QP6mqysrgfNCDNQwyzeN7p7S0DkITAq" URL="jdbc:postgresql://bubble.db.elephantsql.com/inamjean" />
    </dataSource>
</server>
